@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
 /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
 /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}
#pix-instrucoes {
  display: none;
}
#tituloprincipal{
  size: px;
}

body {
  align-items: center;
  margin: 0px;

  border: 10px;
  text-align: center;
  background-color: #f1f1f1;
}
#formlogin {
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: rgb(5, 4, 4);
  width: 300px;
  height: 300px;
  display: inline-block;
}
#containerlogin{
 background-color: #f1f1f1;
}
#painellogin {
  width: 200PX;
  height: 110px;
  color: rgb(247, 246, 246);
  background-color: rgb(45 45 45);
  padding: 30px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid black;
}
#passw, #namelogin{
  size:20px;
  font-size: 16px;
  color: #000000;
}
#container {
  width:min(100%,950px);
  display: inline-block;
  color: #050505;
  flex-direction: column;
  border: 1px solid #1d9d34;
  padding: 10px;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  object-fit: cover;
  overflow:scroll; 
}
.cabecalho_menu {
  width: 100%;
  border: 1px inherit black;
  background-color: rgb(255, 255, 255);;
  height: 49px;
  display: flex;
  justify-content: center;
  writing-mode: horizontal-tb;
}

.ulcabecalho {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #a39292;
}
#valorUnitarioContainer {
  background-color: #1d9d34;
  color: rgb(248, 244, 244);
  border-radius: 6px;
  padding: 11px 13px;
  text-align: center;
  font-size: 22px;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 6px solid #d80c0c;
}
.cabecalho_menu_item {
  margin: 2 2px;
  border: #e4e6e8;
}

a,
li {
  display: block;
  color: #060404;
  text-decoration: none;
  padding: 9px;
}

a:hover {
  background-color:#e4e4e4;
  border-radius: 12px;
}

#barra-acoes {
  display: inline-block;
  justify-content: space-between;
  /*width: 50%;*/
  margin-bottom: 10px;
  font-size: 28px;
}

#botao-pagamento , #botao-consulta{
  background-color: #1d9d34;
  color: rgb(248, 244, 244);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
}
#maisop{
  background-color: #fff;
  border: 2px solid #1d9d34;;
  border-radius: 12px;
  padding: 1px;
  width: 100%;
}
#mais{
background-color: #1d9d34;
color: white;
width: 110px;
height: 45px;
margin: 5px;
border: 1px solid white;
padding: 5px;
width: 44%;
border-radius: 6px;
  

}
label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
}

#numerosGerados, #numerosocultar{
display: none
}

#valorTotal {
  font-weight: bold;
  font-size: 28px;
}
#valortotaldiv {
  background-color: #fff;
  border: 2px solid #1d9d34;
  border-radius: 12px;
  display: inline-block;
  padding: 5px;
}

.subtela, .subtelaconsulta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 29, 29, 0.5);
  z-index: 999;
}

.subtela-conteudo,
.inputuser,.subtela-conteudoconsulta {
  position: absolute;
  color: #1a2a39;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #d6d6d6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(239, 237, 237, 0.5);
  max-width: 80%;
 /* max-height: 500px;*/
  overflow: auto ;
  background-color: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 15px;
 /*letter-spacing: 2px;*/
}
#galleryContainer {
    align-items: center;
    max-width: 100%;
    position: relative; 
}

.arrow {
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    top: 0;
  position: absolute;
  color: #ffffff;
  top: 45%;

}
.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

/* Estilo CSS para a imagem principal */
.main-image {
    width: 100vw; /* Largura fixa da imagem */
   height: 100vw; /* Altura ajustada para preservar a proporção */
    max-width:100%;
    align-items: center;
    object-fit: cover;
    display: inline;
    border-radius: 4px;
}
* {
    font-family: 'Arimo', sans-serif;
}


#subtmit,
#subtmitConsulta{
  background-color:#1d9d34 ;
  color: #fefefe;
  border: #000000;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  size: 16px;
  height: 40px;
  display: inline-block;

}

.conteudosorteio{
  background-color: #f1ecec;
  color:#000000;
  font-size:14px;
  letter-spacing: 0,5px;
  text-align: justify;
  border: 6px solid #1a2a39;
  padding: 0px 5px;

}

#aumentarquantidade,#diminuirQuantidade{
  background-color: #1d9d34;
  color: rgb(248, 244, 244);
  border: 1px solid white;
  padding: 4px 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  border-radius: 6px;
  width: 30%;
}

#quantidade{
  color: black;
  font-size: 16px;
  padding: 4px 2px;
  margin: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  width: 30%;
	
}

#qr-code{
  width: 250px;
  height: 250px;
}

.div-image-setas {
  position: relative;
  text-align: center;
}
