body {
  align-items: center;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  border: 20px;
  text-align: center;
  background-image: linear-gradient(to right, rgb(0, 0, 230), rgb(248, 248, 248));
}

#container {
  display: inline-block;
  color: #f6f6f6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  padding: 30px;
  background-color: #1a2a39;
}

.cabecalho,.cabecalho_menu {
  background-color: rgb(0, 0, 139);
  height: 50px;
  display: flex;
  justify-content: center;
  border: 2px solid #fefefe;
  writing-mode: horizontal-tb;
}

.ulcabecalho {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #a39292;
}

.cabecalho_menu_item {
  margin: 0 10px;
  border: #e4e6e8;
}

a,
li {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: #2f2e2e;
}

#barra-acoes {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

#botao-pagamento , #botao-consulta {
  background-color: #1d9d34;
  color: rgb(248, 244, 244);
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
}

#numerosGerados, #numerosocultar{
display: none
}

#valorTotal {
  font-weight: bold;
}

.subtela, .subtelaconsulta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 29, 29, 0.5);
  z-index: 999;
}

.subtela-conteudo,
.inputuser,.subtela-conteudoconsulta {
  position: absolute;
  color: #1a2a39;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d6d6d6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(239, 237, 237, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background-color: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 15px;
  letter-spacing: 2px;
}
#galleryContainer {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    
}


.arrow {
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

/* Estilo CSS para a imagem principal */
.main-image {
    width: 45vw; /* Largura fixa da imagem */
    height: 30vw; /* Altura ajustada para preservar a proporção */
    max-width: 100%;
}
* {
    font-family: 'Arimo', sans-serif;
}
  @import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
